body {
  height: 100vh;
  background-image: url('./assets/img/sunset.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper.container {
  height: 40vh;
  border-radius: 25px;
  background-image: url('./assets/img/word.jpg');
  text-align: center;
  color: white;
}

.input {
  margin-left: 33.32% !important;
  color: black;
  font-size: 36px;
  background-color: white;
  border-radius: 15px;
}
