html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('./assets/img/sunset.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lato', sans-serif;
  color: white;
}

body {
  height: 100vh;
}

body, #getWeather {
  background-color: rgba(0, 0, 0, 0.6);
}

#wrapper img {
  width: 300px;
}

#wrapper {
  margin-left: 5%;
}

#cp, #getWeather, #wrapper {
  width: 100%;
  color: whitesmoke;
}

#city-name {
  font-size: 70px;
  text-decoration: underline;
}

#date {
  text-transform: uppercase;
  font-size: 45px;
}

#temp {
  font-size: 90px;
}